<p>Checkpoint-------------Open Time-------------Close Time</p>
<p>{% for item in items %}</p>
<p>{{ item.km_distances }} ------------- {{ item.open_times }} ------------- {{ item.close_times }}</p>
<p>{% endfor %}</p>